$turquoise: #72BFB8
$darkSlateBlue: #3B6670

////////// HEADER ////////////
header
  display: flex
  justify-content: space-between
  align-items: center
  img
    display: inline-block
  nav
    display: inline-block
    vertical-align: middle
  li
    display: inline-block
    padding: 1em

////// JUMBOTRON ///////
.jumbotron
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 60vh
  background-image: url('../img/jumbotron.jpg')
  background-repeat: no-repeat
  background-size: center


//////// ABOUT /////////
#about
  text-align: center


//////// DO GOOD ///////
.doGoodSection
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 60vh
  background-image: url('../img/do_good.jpg')
  background-repeat: no-repeat
  background-size: center


/////// CONTRIBUTIONS //////////
#contributions
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  svg
    // height: 60vh


////// DONATIONS //////////
#donations
  
